Flask
PyPDF2
python-dotenv
groq
gunicorn
langchain
langchain-community
langchain-classic
langchain-text-splitters
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
torch
transformers
tenacity