Flask
PyPDF2
faiss-cpu
langchain
langchain-community
langchain-classic
langchain-text-splitters
langchain-groq
langchain-huggingface
sentence-transformers
torch
transformers
scikit-learn
scipy
groq
python-dotenv
gunicorn